.backlog .section {
  padding: 20px;
}

.backlog .issue {
  height: 35px;
  margin: 5px 0;
}

.backlog .issue .avatar {
  background-size: 25px 25px;
  width: 25px;
  height: 25px;
  top: 3px;
  right: 5px;
  float: right;
}

.backlog-project {
  border-bottom: 1px solid #d9d9d9;
  background-color: #f2f2f2;
  cursor: pointer;
  padding: 20px 20px;
}

.backlog-project:hover {
  background-color: #d9d9d9;
}

.backlog-project.selected {
  background-color: #e6f3ff;
}